:root {
    --white: rgb(255, 255, 255);
    --greenish: forestgreen; 
    --black: black; 
}

body {     
    background: rgb(208,235,226);
    background: linear-gradient(106deg, rgba(208,235,226,1) 18%, rgba(144,187,174,1) 36%, rgba(173,214,201,1) 59%, rgba(159,194,185,1) 85%);
   
    font-family: 'Open Sans', sans-serif;
}

/* homepage */

/* homepage text */

h1 { 
    font-size: 120px;
}

h2 { 
    font-size: 50px;
}

.name { 
    color: var(--white);
}

.typing-container {
    display: inline-block; 
}


/* right navbar */
li {
    list-style-type: none;
    font-size: 15px;
}

.nav-items {
    text-decoration: none; 
    color: var(--black);
}

.nav-items:hover {
    color: var(--white);
    transform: scale(1.5);
    cursor: pointer;
}

.side-nav {
    min-width: 10em;
}

/* LOGO */

.navbar-brand {
    margin-left: .3em;
    margin-top: .3em;
    font-size: 2em;
    font-weight: 500;
    border: 1px solid var(--black);
    width: 1.5em;
    height: 1.4em;
    padding: .5em;
}

.navbox {
    width: 1em;
    border: 2px solid var(--black);
}

.navbar-brand:hover {
    color: var(--white);
}


/* icons */
/*** DO THE NAV BAR TO THE BOTTOM ***/ 

.icon-line {
    height: 9em;
    width: .75em;
    border-right: 2px solid var(--black);
}
.icons {
    width: 1.5em;
    height: 1.5em; 
    padding: 1.5px;
}

/* project section */
.project {
    height: 36em;   
    /* background-color: rgba(255, 244, 244,0.2); */
    /* border: .1em solid var(--black); */
    /* box-shadow: 1px -1px 299px 13px rgba(95,117,110,0.82);
    -webkit-box-shadow: 1px -1px 299px 13px rgba(95,117,110,0.82);
    -moz-box-shadow: 1px -1px 299px 13px rgba(95,117,110,0.82); */
}

.proj {
    min-height: 30em;
    /* border: .1em solid var(--black); */
}

.proj-title {
    padding: .3em;
    /* border: .1em solid var(--white); */
}

.proj-images {
    border: .2em solid var(--white);
    height: 28em;
    box-shadow: -1px 1px 26px 11px rgba(115,105,105,0.56);
    -webkit-box-shadow: -1px 1px 26px 11px rgba(115,105,105,0.56);
    -moz-box-shadow: -1px 1px 26px 11px rgba(115,105,105,0.56);
}

.proj-images > img {
    height: 100%;
    width: 100%;

}
   
/* skills */

.skills {
    margin-top: 10em;
    height: 38em;
    /* border: 3px solid black; */
    
}

.row > * {
    background-color: var(--white);
    padding: 1em !important;
    border: 1px solid black; 
}


/** animations **/

.typed-out {
    width: 10em;
    animation: typing 2.2s steps(23), blink .6s step-end infinite;
    border-right: 2px solid var(--black);
    white-space: nowrap;
    overflow: hidden;
    color: var(--black);

}

@keyframes typing {
    from { 
        width:0 
    } 
}

@keyframes blink {
    50% { 
        border-color: transparent; 
    }
}

