
body {     
    background: rgb(208,235,226);
background: linear-gradient(106deg, rgba(208,235,226,1) 18%, rgba(144,187,174,1) 36%, rgba(173,214,201,1) 59%, rgba(159,194,185,1) 85%);
}

.project {
    background-color: white;
    opacity: 75%;
}

/* .home-line {
    border-top: 2px solid black;
    min-height: 12em;
} */

li {
    list-style-type: none;
    font-size: 15px;
}

p {
    font-size: 20px;
}

h1 { 
    font-size: 120px;
}

h2 { 
    font-size: 50px;
}


.nav-items {
    text-decoration: none; 
    color: black;
}

.nav-items:hover {
    color: white;
    transform: scale(1.5);
    cursor: pointer;
}

.box {
    width: 150px; 
    height: 150px;  
    border: 1px solid green;
}

.display-project {
    width: 400px;
    height: 400px; 
}

.containert {
    display: inline-block; 
}


.navbar-brand {
    margin-left: .3em;
    margin-top: .3em;
    font-size: 2em;
    font-weight: 500;
    border: 1px solid black;
    width: 1.5em;
    height: 1.4em;
    padding: .5em;
}

.navbox {
    width: 1em;
    border: 2px solid black;
}

.navbar-brand:hover {
    color: white;
}

.name { 
    color: white;
}

.icons {
    width: 1.5em;
    height: 1.5em; 
    padding: 1.5px;
}

.side-nav {
    min-width: 10em;
}

/*** DO THE NAV BAR TO THE BOTTOM ***/ 

.icon-line {
    height: 9em;
    width: .75em;
    border-right: 2px solid black;
}


/** animations **/

.typed-out {
    width: 14.5ch;
    animation: typing 2.5s steps(23), blink .7s step-end infinite;
    border-right: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    color: black;

}

@keyframes typing {
    from { 
        width:0 
    } 
}

@keyframes blink {
    50% { 
        border-color: transparent; 
    }
}

